#modra{
    color: blue;
    width: 60px;
}
#table{
    background-image:url(rammstien.jpg);
    background-size: contain;
    width: 900px;
    height:440px;
}
#hodina{
    color:red;
    width: 50px;
}
h1{
    color: azure;
    size: 80px;
}